In [2]:
import pandas as pd
import numpy as np

In [3]:
def p(*args):
    print(*args)

In [4]:

def Series(dat: list = ..., name = None):
    print(pd.Series(dat, name = name))

In [5]:
## example 1

ser = pd.Series([4, 6, 8, 10])
ser

0     4
1     6
2     8
3    10
dtype: int64

In [6]:
# example 2
ser = pd.Series(np.linspace(11, 41, 4, dtype = np.int64))
ser

0    11
1    21
2    31
3    41
dtype: int64

In [7]:
# example 3
ser = pd.Series(["o", "h", "o"])
ser

0    o
1    h
2    o
dtype: object

In [8]:
#example 4
Series(["So Funny"])

0    So Funny
dtype: object

In [9]:
# example 5
Series(['I', 'Am', 'Laughing'])

0           I
1          Am
2    Laughing
dtype: object

In [10]:
# example 6
Series(np.linspace(24, 64, 5))

0    24.0
1    34.0
2    44.0
3    54.0
4    64.0
dtype: float64

In [11]:
np.linspace(11, 41, 4, retstep = True, dtype = int)

(array([11, 21, 31, 41]), 10.0)

In [12]:
np.arange(11, 41, 10) # start stop step

array([11, 21, 31])

In [13]:
# example 7
pd.Series(np.tile([3, 5], 2))

0    3
1    5
2    3
3    5
dtype: int32

In [14]:
print([1, 2, 3]*2)

[1, 2, 3, 1, 2, 3]

In [15]:
# example 8
STUD = {"A": 30, 
        "B": 24, 
        "C": 35
}
Series(STUD) # INDEX VALUES

A    30
B    24
C    35
dtype: int64

In [16]:
de = {
    "A": 12
}
pd.DataFrame(de, index = ["B"])

    A
B  12

In [17]:
# example 9
pd.Series(5000, index = ["QTR1", "QTR2", "QTR3", "QTR4"], name = "Budget")

QTR1    5000
QTR2    5000
QTR3    5000
QTR4    5000
Name: Budget, dtype: int64

In [18]:
# example 10
pd.Series(200, np.arange(2020, 2029, 2))

2020    200
2022    200
2024    200
2026    200
2028    200
dtype: int64

In [19]:
# example 11
l1 = ["A", "B", "C", "D"]
l2 = [100, 900, 200, 400]

ser11 = pd.Series(l2, index = l1, name = "Section")
ser11

A    100
B    900
C    200
D    400
Name: Section, dtype: int64

In [20]:
# example 12

sec = ["A", "B", "C", "D", "E"]
cont = np.array([6700, 5600, 5000, 5200, np.nan])
ser12 = pd.Series(cont * 2, index = sec, dtype = np.float32)
ser12

A    13400.0
B    11200.0
C    10000.0
D    10400.0
E        NaN
dtype: float32

In [21]:
#Example 13

print(f"DataType of e11 and e12 is {type(ser11)} and {type(ser12)}")
print(f"Shape of e11 and e12 is {ser11.shape} and {ser12.shape}")
print(f"Bytes of e11 and e12 is {ser11.nbytes} and {ser12.nbytes}")
print(f"Dimensions of e11 and e12 is {ser11.ndim} and {ser12.ndim}")
print(f"Item size of e11 and e12 is {ser11.size} and {ser12.size}")
print(f"Has nans? of e11 and e12 is {ser11.hasnans} and {ser12.hasnans}")
print(f"Is empty? of e11 and e12 is {ser11.empty} and {ser12.empty}")

DataType of e11 and e12 is <class 'pandas.core.series.Series'> and <class 'pandas.core.series.Series'>
Shape of e11 and e12 is (4,) and (5,)
Bytes of e11 and e12 is 32 and 20
Dimensions of e11 and e12 is 1 and 1
Item size of e11 and e12 is 4 and 5
Has nans? of e11 and e12 is False and True
Is empty? of e11 and e12 is False and False

In [22]:
#Example 14

dat = [39, 41, 42, 44]
s8 = pd.Series(dat, index = ["A", "B", "C", "D"])
s8[:2] * 100

A    3900
B    4100
dtype: int64

In [23]:
#Example 15

s8 = pd.Series([6700, 5600, 5000, 5200], ["A", "B", "C", "D"])
s8["A"], s8[2:] = 7600, 7000
s8

A    7600
B    5600
C    7000
D    7000
dtype: int64

In [24]:
#Example 16


ser16 = pd.Series(range(25001))
print(ser16.head(100))
print(ser16.tail())

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64
24996    24996
24997    24997
24998    24998
24999    24999
25000    25000
dtype: int64

In [25]:
#Example 17

c11 = pd.Series([10, 20, 30], ["Science", "Commerce", "Humanities"])
c12 = pd.Series([10, 20, 30], ["Science", "Commerce", "Humanities"], name = 'lol')

c11.__add__(c12)

Science       20
Commerce      40
Humanities    60
dtype: int64

In [26]:
#Example 18

obj2 = pd.Series([343675298789714, 93466371332406, 87095454124, 9803347124], ["Delhi", "Mumbai", "Kolkata", "Chennai"], name = "Average income")
obj1 = pd.Series([12123123, 214214222, 28722811, 14222221], ["Delhi", "Mumbai", "Kolkata", "Chennai"], name = "population")
p(f"{obj1}\n\n")
p(f"{obj2}\n\n")
p(f"Per capita income:\n{obj2/obj1}")

Delhi       12123123
Mumbai     214214222
Kolkata     28722811
Chennai     14222221
Name: population, dtype: int64


Delhi      343675298789714
Mumbai      93466371332406
Kolkata        87095454124
Chennai         9803347124
Name: Average income, dtype: int64


Per capita income:
Delhi      2.834874e+07
Mumbai     4.363220e+05
Kolkata    3.032275e+03
Chennai    6.892979e+02
dtype: float64

In [27]:
#Example 19

cser = pd.Series(np.arange(31, 61, 10, dtype = np.int16))
p(cser > 40)
cser[cser > 40]

0    False
1     True
2     True
dtype: bool

1    41
2    51
dtype: int16

In [31]:
#Example 20

s11 = pd.Series([6700, 5600, 5000, 5200], ["A", "B", "C", "D"])
s11[s11 > 5500]

A    6700
B    5600
dtype: int64