In [75]:
import pandas as pd
import numpy as np

In [2]:
dat = pd.read_csv("student.csv")

In [3]:
dat

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [4]:
det = {
    "Students": ["Snehashish Biswas", "Rin Nohara", "Hinata Hyuga", "Naruto Uzumaki", "Kakashi Hatake", "Obito Uchiha", "Sasuke Uchiha", "Shikamaru Nara"],
    "Class": ["Xii", "Graduated", "Graduated", "Graduated", "Graduated", "Graduated", "Graduated", "Graduated"],
    "Age": [17, 18, 19, 20, 25, 18, 20, 21],
    "Roll": [1, 2, 3, 4, 5, 6, 7, 8],
    "Favourite(s)": ["Coding", "Kakashi", "Naruto", "Sakura", "Hidden leaf", "Rin", "Revenge", "Asuma Sarutobi"],
    "Rival": ["None", "None", "None", "Sasuke Uchiha", "Guy", "Kakashi Hatake", "Naruto Uzumaki", "None"],
    "Marks": [69, 11, 9, 12, 15, 16, 70, 8], 
    "Loyality": [True, True, True, True, True, True, False, True],
    "Alive": [True, "Dead", True, True, True, True, True, True],
    "Status": ["Student", "Genin", "Chunin", "Chunin", "Chunin", "Genin", "Genin", "Chunin"]
}

In [5]:
fr = pd.DataFrame(det, index = ["6969", 4254, 9867, 6672, 1234, 1653, 8987, 7868]).rename_axis("ID")

In [6]:
fr

,Students,Class,Age,Roll,Favourite(s),Rival,Marks,Loyality,Alive,Status
ID,,,,,,,,,,
6969,Snehashish Biswas,Xii,17,1,Coding,None,69,True,True,Student
4254,Rin Nohara,Graduated,18,2,Kakashi,None,11,True,Dead,Genin
9867,Hinata Hyuga,Graduated,19,3,Naruto,None,9,True,True,Chunin
6672,Naruto Uzumaki,Graduated,20,4,Sakura,Sasuke Uchiha,12,True,True,Chunin
1234,Kakashi Hatake,Graduated,25,5,Hidden leaf,Guy,15,True,True,Chunin
1653,Obito Uchiha,Graduated,18,6,Rin,Kakashi Hatake,16,True,True,Genin
8987,Sasuke Uchiha,Graduated,20,7,Revenge,Naruto Uzumaki,70,False,True,Genin
7868,Shikamaru Nara,Graduated,21,8,Asuma Sarutobi,None,8,True,True,Chunin

In [7]:
fr.loc[7868, "Status"]

'Chunin'

In [8]:
dff = {
    "Name": ["Rin", "Ino", "Minato"],
    "status": ["Genin", "Chunin", "Hokage"]
}

In [122]:
dfr = pd.DataFrame(dff)

In [106]:
dfr

     Name  status
0     Rin   Genin
1     Ino  Chunin
2  Minato  Hokage

In [10]:
dfr.loc[2, 'status']

'Hokage'

In [12]:
dfr.values

array([['Rin', 'Genin'],
       ['Ino', 'Chunin'],
       ['Minato', 'Hokage']], dtype=object)

In [23]:
dfr.ndim

2

In [129]:
ser = pd.Series(5000, index = ["April", "May", "June", "July"]).rename_axis("Salary")

In [53]:
ser['July'] = 6000
ser.loc['may'] = 7000

In [55]:
ser.loc[ser.values > 5000]

Salary
July    6000
may     7000
dtype: int64

In [130]:
ser[ser.keys().isin(['May', 'April'])]

Salary
April    5000
May      5000
dtype: int64

In [85]:
d1 = {
    "Name": ["Sh", np.nan],
    "Class": ['Xii', "Xi"]
}

In [86]:
s1 = pd.DataFrame(d1)

In [168]:
srr = [1]

In [179]:
sq = pd.Series(srr, name = "lel")

In [171]:
sq.values.itemsize # all has 8 size

8

In [180]:
sq.name

'lel'

In [178]:
ser.index.name

'Salary'

In [117]:
#dfr['Alive'] = [False, True, False]

In [123]:
dfr

     Name  status
0     Rin   Genin
1     Ino  Chunin
2  Minato  Hokage

In [181]:
dfr.shape

(3, 2)

In [183]:
sr = pd.Series()

In [185]:
sr.empty

True